/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.cashful.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.cashful.model.BadRequestResponseDto
import com.cashful.model.CreatePaymentLinkDto
import com.cashful.model.InternalServerErrorResponseDto
import com.cashful.model.ListPaymentLinksResponseDto
import com.cashful.model.NotFoundResponseDto
import com.cashful.model.PaymentLinkResponseDto
import com.cashful.model.UnauthorizedResponseDto
import com.cashful.model.UpdatePaymentLinkDto

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import com.cashful.infrastructure.ApiClient
import com.cashful.infrastructure.ApiResponse
import com.cashful.infrastructure.ClientException
import com.cashful.infrastructure.ClientError
import com.cashful.infrastructure.ServerException
import com.cashful.infrastructure.ServerError
import com.cashful.infrastructure.MultiValueMap
import com.cashful.infrastructure.PartConfig
import com.cashful.infrastructure.RequestConfig
import com.cashful.infrastructure.RequestMethod
import com.cashful.infrastructure.ResponseType
import com.cashful.infrastructure.Success
import com.cashful.infrastructure.toMultiValue

class PaymentLinksApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.cashful.africa")
        }
    }

    /**
     * POST /api/canary/payment-links
     * Create Payment Link
     * Creates a re-usable hosted link. Can be used for: (1) Selling a product, or (2) as a \&quot;Pay-In\&quot; link for a customer.
     * @param createPaymentLinkDto Payment link details
     * @return PaymentLinkResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createPaymentLink(createPaymentLinkDto: CreatePaymentLinkDto) : PaymentLinkResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = createPaymentLinkWithHttpInfo(createPaymentLinkDto = createPaymentLinkDto)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PaymentLinkResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/canary/payment-links
     * Create Payment Link
     * Creates a re-usable hosted link. Can be used for: (1) Selling a product, or (2) as a \&quot;Pay-In\&quot; link for a customer.
     * @param createPaymentLinkDto Payment link details
     * @return ApiResponse<PaymentLinkResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createPaymentLinkWithHttpInfo(createPaymentLinkDto: CreatePaymentLinkDto) : ApiResponse<PaymentLinkResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createPaymentLinkRequestConfig(createPaymentLinkDto = createPaymentLinkDto)

        return@withContext request<CreatePaymentLinkDto, PaymentLinkResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPaymentLink
     *
     * @param createPaymentLinkDto Payment link details
     * @return RequestConfig
     */
    fun createPaymentLinkRequestConfig(createPaymentLinkDto: CreatePaymentLinkDto) : RequestConfig<CreatePaymentLinkDto> {
        val localVariableBody = createPaymentLinkDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/canary/payment-links",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/canary/payment-links
     * List Payment Links
     * Retrieves all payment links created by the merchant.
     * @param merchantId The ID of the merchant whose payment links are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param active Filter by active status (optional)
     * @return ListPaymentLinksResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listPaymentLinks(merchantId: kotlin.String? = null, limit: java.math.BigDecimal? = null, offset: java.math.BigDecimal? = null, active: kotlin.Boolean? = null) : ListPaymentLinksResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = listPaymentLinksWithHttpInfo(merchantId = merchantId, limit = limit, offset = offset, active = active)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPaymentLinksResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/canary/payment-links
     * List Payment Links
     * Retrieves all payment links created by the merchant.
     * @param merchantId The ID of the merchant whose payment links are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param active Filter by active status (optional)
     * @return ApiResponse<ListPaymentLinksResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listPaymentLinksWithHttpInfo(merchantId: kotlin.String?, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, active: kotlin.Boolean?) : ApiResponse<ListPaymentLinksResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listPaymentLinksRequestConfig(merchantId = merchantId, limit = limit, offset = offset, active = active)

        return@withContext request<Unit, ListPaymentLinksResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPaymentLinks
     *
     * @param merchantId The ID of the merchant whose payment links are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param active Filter by active status (optional)
     * @return RequestConfig
     */
    fun listPaymentLinksRequestConfig(merchantId: kotlin.String?, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, active: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (merchantId != null) {
                    put("merchantId", listOf(merchantId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/canary/payment-links",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/canary/payment-links/{id}
     * Retrieve Payment Link
     * Retrieves a single payment link by ID.
     * @param id The unique identifier of the payment link
     * @return PaymentLinkResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun retrievePaymentLink(id: kotlin.String) : PaymentLinkResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = retrievePaymentLinkWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PaymentLinkResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/canary/payment-links/{id}
     * Retrieve Payment Link
     * Retrieves a single payment link by ID.
     * @param id The unique identifier of the payment link
     * @return ApiResponse<PaymentLinkResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun retrievePaymentLinkWithHttpInfo(id: kotlin.String) : ApiResponse<PaymentLinkResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = retrievePaymentLinkRequestConfig(id = id)

        return@withContext request<Unit, PaymentLinkResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation retrievePaymentLink
     *
     * @param id The unique identifier of the payment link
     * @return RequestConfig
     */
    fun retrievePaymentLinkRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/canary/payment-links/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/canary/payment-links/{id}
     * Update Payment Link
     * Updates a link&#39;s details, most commonly to set active: false.
     * @param id The unique identifier of the payment link
     * @param updatePaymentLinkDto Payment link update details
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updatePaymentLink(id: kotlin.String, updatePaymentLinkDto: UpdatePaymentLinkDto) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = updatePaymentLinkWithHttpInfo(id = id, updatePaymentLinkDto = updatePaymentLinkDto)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/canary/payment-links/{id}
     * Update Payment Link
     * Updates a link&#39;s details, most commonly to set active: false.
     * @param id The unique identifier of the payment link
     * @param updatePaymentLinkDto Payment link update details
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updatePaymentLinkWithHttpInfo(id: kotlin.String, updatePaymentLinkDto: UpdatePaymentLinkDto) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updatePaymentLinkRequestConfig(id = id, updatePaymentLinkDto = updatePaymentLinkDto)

        return@withContext request<UpdatePaymentLinkDto, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePaymentLink
     *
     * @param id The unique identifier of the payment link
     * @param updatePaymentLinkDto Payment link update details
     * @return RequestConfig
     */
    fun updatePaymentLinkRequestConfig(id: kotlin.String, updatePaymentLinkDto: UpdatePaymentLinkDto) : RequestConfig<UpdatePaymentLinkDto> {
        val localVariableBody = updatePaymentLinkDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/canary/payment-links/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
