/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.cashful.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.cashful.model.CreatePayoutDto
import com.cashful.model.ErrorResponseDto
import com.cashful.model.ListPayoutsResponseDto
import com.cashful.model.PayoutResponseDto

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import com.cashful.infrastructure.ApiClient
import com.cashful.infrastructure.ApiResponse
import com.cashful.infrastructure.ClientException
import com.cashful.infrastructure.ClientError
import com.cashful.infrastructure.ServerException
import com.cashful.infrastructure.ServerError
import com.cashful.infrastructure.MultiValueMap
import com.cashful.infrastructure.PartConfig
import com.cashful.infrastructure.RequestConfig
import com.cashful.infrastructure.RequestMethod
import com.cashful.infrastructure.ResponseType
import com.cashful.infrastructure.Success
import com.cashful.infrastructure.toMultiValue

class PayoutsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.cashful.africa")
        }
    }

    /**
     * POST /api/canary/payouts
     * Create Payout
     * Allows the merchant to move funds from their MerchantBalance (their earnings) to their external bank account.
     * @param createPayoutDto Payout details
     * @return PayoutResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createPayout(createPayoutDto: CreatePayoutDto) : PayoutResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = createPayoutWithHttpInfo(createPayoutDto = createPayoutDto)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PayoutResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/canary/payouts
     * Create Payout
     * Allows the merchant to move funds from their MerchantBalance (their earnings) to their external bank account.
     * @param createPayoutDto Payout details
     * @return ApiResponse<PayoutResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createPayoutWithHttpInfo(createPayoutDto: CreatePayoutDto) : ApiResponse<PayoutResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createPayoutRequestConfig(createPayoutDto = createPayoutDto)

        return@withContext request<CreatePayoutDto, PayoutResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPayout
     *
     * @param createPayoutDto Payout details
     * @return RequestConfig
     */
    fun createPayoutRequestConfig(createPayoutDto: CreatePayoutDto) : RequestConfig<CreatePayoutDto> {
        val localVariableBody = createPayoutDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/canary/payouts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/canary/payouts
     * List Payouts
     * Retrieves a list of all historical and pending payouts for the merchant.
     * @param merchantId The ID of the merchant. This parameter is required.
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param status Filter by status (optional)
     * @return ListPayoutsResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listPayouts(merchantId: kotlin.String, limit: java.math.BigDecimal? = null, offset: java.math.BigDecimal? = null, status: kotlin.String? = null) : ListPayoutsResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = listPayoutsWithHttpInfo(merchantId = merchantId, limit = limit, offset = offset, status = status)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPayoutsResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/canary/payouts
     * List Payouts
     * Retrieves a list of all historical and pending payouts for the merchant.
     * @param merchantId The ID of the merchant. This parameter is required.
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param status Filter by status (optional)
     * @return ApiResponse<ListPayoutsResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listPayoutsWithHttpInfo(merchantId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, status: kotlin.String?) : ApiResponse<ListPayoutsResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listPayoutsRequestConfig(merchantId = merchantId, limit = limit, offset = offset, status = status)

        return@withContext request<Unit, ListPayoutsResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPayouts
     *
     * @param merchantId The ID of the merchant. This parameter is required.
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @param status Filter by status (optional)
     * @return RequestConfig
     */
    fun listPayoutsRequestConfig(merchantId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, status: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("merchantId", listOf(merchantId.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/canary/payouts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
