/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.cashful.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.cashful.model.CreateWebhookEndpointDto
import com.cashful.model.ErrorResponseDto
import com.cashful.model.ListWebhookEndpointsResponseDto
import com.cashful.model.WebhookEndpointResponseDto

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import com.cashful.infrastructure.ApiClient
import com.cashful.infrastructure.ApiResponse
import com.cashful.infrastructure.ClientException
import com.cashful.infrastructure.ClientError
import com.cashful.infrastructure.ServerException
import com.cashful.infrastructure.ServerError
import com.cashful.infrastructure.MultiValueMap
import com.cashful.infrastructure.PartConfig
import com.cashful.infrastructure.RequestConfig
import com.cashful.infrastructure.RequestMethod
import com.cashful.infrastructure.ResponseType
import com.cashful.infrastructure.Success
import com.cashful.infrastructure.toMultiValue

class WebhooksApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.cashful.africa")
        }
    }

    /**
     * POST /api/canary/webhook-endpoints
     * Create Webhook Endpoint
     * Registers a URL to receive real-time events (e.g., checkout.session.completed, purchase.succeeded).
     * @param createWebhookEndpointDto Webhook endpoint details
     * @return WebhookEndpointResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createWebhookEndpoint(createWebhookEndpointDto: CreateWebhookEndpointDto) : WebhookEndpointResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = createWebhookEndpointWithHttpInfo(createWebhookEndpointDto = createWebhookEndpointDto)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as WebhookEndpointResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/canary/webhook-endpoints
     * Create Webhook Endpoint
     * Registers a URL to receive real-time events (e.g., checkout.session.completed, purchase.succeeded).
     * @param createWebhookEndpointDto Webhook endpoint details
     * @return ApiResponse<WebhookEndpointResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createWebhookEndpointWithHttpInfo(createWebhookEndpointDto: CreateWebhookEndpointDto) : ApiResponse<WebhookEndpointResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createWebhookEndpointRequestConfig(createWebhookEndpointDto = createWebhookEndpointDto)

        return@withContext request<CreateWebhookEndpointDto, WebhookEndpointResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createWebhookEndpoint
     *
     * @param createWebhookEndpointDto Webhook endpoint details
     * @return RequestConfig
     */
    fun createWebhookEndpointRequestConfig(createWebhookEndpointDto: CreateWebhookEndpointDto) : RequestConfig<CreateWebhookEndpointDto> {
        val localVariableBody = createWebhookEndpointDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/canary/webhook-endpoints",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/canary/webhook-endpoints/{id}
     * Delete Webhook Endpoint
     * Stops sending events to a specific URL.
     * @param id The unique identifier of the webhook endpoint
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun deleteWebhookEndpoint(id: kotlin.String) : kotlin.Any = withContext(Dispatchers.IO) {
        val localVarResponse = deleteWebhookEndpointWithHttpInfo(id = id)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/canary/webhook-endpoints/{id}
     * Delete Webhook Endpoint
     * Stops sending events to a specific URL.
     * @param id The unique identifier of the webhook endpoint
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun deleteWebhookEndpointWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Any?> = withContext(Dispatchers.IO) {
        val localVariableConfig = deleteWebhookEndpointRequestConfig(id = id)

        return@withContext request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteWebhookEndpoint
     *
     * @param id The unique identifier of the webhook endpoint
     * @return RequestConfig
     */
    fun deleteWebhookEndpointRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/canary/webhook-endpoints/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/canary/webhook-endpoints
     * List Webhook Endpoints
     * Lists all configured webhook endpoints.
     * @param merchantId The ID of the merchant whose webhooks are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @return ListWebhookEndpointsResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listWebhookEndpoints(merchantId: kotlin.String? = null, limit: java.math.BigDecimal? = null, offset: java.math.BigDecimal? = null) : ListWebhookEndpointsResponseDto = withContext(Dispatchers.IO) {
        val localVarResponse = listWebhookEndpointsWithHttpInfo(merchantId = merchantId, limit = limit, offset = offset)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListWebhookEndpointsResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/canary/webhook-endpoints
     * List Webhook Endpoints
     * Lists all configured webhook endpoints.
     * @param merchantId The ID of the merchant whose webhooks are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @return ApiResponse<ListWebhookEndpointsResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listWebhookEndpointsWithHttpInfo(merchantId: kotlin.String?, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?) : ApiResponse<ListWebhookEndpointsResponseDto?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listWebhookEndpointsRequestConfig(merchantId = merchantId, limit = limit, offset = offset)

        return@withContext request<Unit, ListWebhookEndpointsResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listWebhookEndpoints
     *
     * @param merchantId The ID of the merchant whose webhooks are being requested. If omitted, defaults to the authenticated merchant. (optional)
     * @param limit Maximum number of records to return (optional)
     * @param offset Number of records to skip (optional)
     * @return RequestConfig
     */
    fun listWebhookEndpointsRequestConfig(merchantId: kotlin.String?, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (merchantId != null) {
                    put("merchantId", listOf(merchantId.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/canary/webhook-endpoints",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
